/* darkness_6 - Matthew 27:45 */
@define-color background-color #0C0C0C;
/* water_of_life_1 - Revelation 22:1,17 */
@define-color border-color #4AA893;
/* water_of_life_1 - Revelation 22:1,17 */
@define-color label #4AA893;
/* image: first_day_1 - Mark 16:2 */
@define-color image #6C9FBF;
/* progress: water_of_life_1 - Revelation 22:1,17 */
@define-color progress #4AA893;


/* 1. Force 3px border (Outranks the generic 'window' tag in style.css) */
window#osd {
  border-width: 3px;
}



/* this isn't supported yet
 * but maybe it will in the future
 * so I am leaving it here in the hope of a future update */


/* 2. Muted State (Red = Stop/Alarm) */
/* color: poured_wine_1 - Matthew 26:27-29 */
/*
window#osd.muted {
  border-color: #B83E46;
}
window#osd.muted label,
window#osd.muted image {
  color: #B83E46;
}
window#osd.muted progress {
  background-color: #B83E46;
}
*/
