@define-color background #0C0C0C; /* darkness_6 - Matthew 27:45 */
@define-color foreground #4AA893; /* water_of_life_1 - Revelation 22:1,17 */
/* here cyan needs to be fg to make workspaces buttons cyan, so while named foreground it is still treated as ansi cyan, not white  */
@define-color green #838F46; /* gethsemane_1 - Exodus 27:20; Matthew 26:36 */
@define-color yellow #DCAE3D; /* royal_sash_1 - Revelation 1:13 */
@define-color red #B83E46; /* poured_wine_1 - Matthew 26:27-29 */
@define-color blue #6C9FBF; /* first_day_1 - Mark 16:2 */
@define-color cyan #4AA893; /* water_of_life_1 - Revelation 22:1,17 */
@define-color black #484848; /* darkness_1 - Matthew 27:45 */
@define-color white #C2AE93; /* broken_bread_1 - Matthew 26:17,26 */

window#waybar * {
  font-weight: bold;
  font-size: 14px;
}

window#waybar #workspaces button.empty { opacity: 0.2; }

window#waybar #custom-omarchy { color: @blue;}
window#waybar #clock { color: @white;}
window#waybar #custom-expand-icon { color: @cyan;}
window#waybar #tray { color: @cyan;}
window#waybar #cpu { color: @blue;}
window#waybar #custom-update {color: @cyan;}

/* 🔋 BATTERY */
#battery { color: @foreground; }
#battery.charging, #battery.plugged, #battery.full { color: @green; }
#battery.warning { color: @yellow; }
#battery.critical { color: @red; }

/* 🌐 NETWORK (green=Connected, red=Off/Searching) */
window#waybar #network.wifi,
window#waybar #network.ethernet { color: @green; } 
window#waybar #network { color: @red; }
window#waybar #network.disconnected { color: @red; }

/*  BLUETOOTH (green=Connected, yellow=On/Searching, Red=Off/Dead) */
window#waybar #bluetooth.connected { color: @green; }
window#waybar #bluetooth { color: @yellow; }
window#waybar #bluetooth.disconnected { color: @red; }
window#waybar #bluetooth.off,
window#waybar #bluetooth.disabled { color: @red; }

/*  AUDIO (Variable: cyan=Active, Red=Muted) */
window#waybar #pulseaudio { color: @cyan; }
window#waybar #pulseaudio.muted { color: @red; }

/* 🔴 ALERT STATES */
window#waybar #custom-screenrecording-indicator.active,
window#waybar #custom-voxtype.recording,
window#waybar #custom-idle-indicator.active,
window#waybar #custom-notification-silencing-indicator.active {
  color: @red;
}

/* Tooltips */
tooltip {
  background-color: @background;
  border: 3px solid @cyan;
  font-weight: bold;
}
